@import url('fonts.css');

/*
 * Globals
 */



body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #333333;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 20px;
  font-style: normal;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #333;
}

.red {
	color: #256bad;
}

.greybk {
	background-color:#efefef;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-left: -20px;
	margin-right: -20px;
}


.blue {
	font-size: 22px;
	color: #256bad;
}
/*
 * Override Bootstrap's default container.
 */

.header-text {
 	text-align: center;
 	margin: 20px 0;
}

.header-nav {
	height: 85px;
}

.header-nav-bkg {
	height: 100%;
	width: 100%;
	background-image: url(../images/header-clean.jpg);
}

.nav-row {
	background-color: #efefef;
	margin: -20px;
	padding: 20px;
}

.nav li a {
  color: #333333;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
}

.collapse.in {
	width: 100%;
}

@media (min-width: 1200px) {
  .container {
    width: 1034px;
  }
}

.question {
	text-align: left;
	font-size: 18px;
	width: 100%;
	margin-left: 20px;
}

.thankyou {
	font-size: 18px;
}

.graphic {
	text-align: center;
}

.white-back {
	background: #ffffff;
	overflow: hidden;
	padding: 20px;
}

.page-wrapper {
	margin-top: 40px;
	border: 5px solid #ceced0;
	border-radius: 10px;
	text-align: center;
}

.image-wrapper {
	cursor: pointer;
}

.form-text {
	text-align: left;
	font-size: 18px;
	width: 100%;
	margin: 0 auto;
}

.form-text ul {
	list-style: none;
}

.form-text ul.check-style {
  list-style: inherit;
  list-style-image: url(../images/checkmark.png);
}

.form-text ul.dot-style {
	list-style: inherit;
  list-style-image: url(../images/greendot.jpg);
}

.form-text ul li {
	margin-top: 10px;
}

.form-text ul li.nested {
  margin-top: 0;
  margin-left: 15px;
}

.sign-up-wrapper {
	background-color: #efefef;
	padding: 10px;
	text-align: center;
}

#sign-up-form {
	margin-top: 10px;
}

.form-row {
	margin: 15px 0;
}

.disclaimer {
	margin-top: 20px;
	text-align: center;
	font-size: 10px;
}